<h1>editing image</h1>

<%= render 'form', image: @image %>

<%= link_to 'show', @image %> |
<%= link_to 'destroy', @image, method: :delete, data: { confirm: 'are you sure?' } %> |
<%= link_to 'back', images_path %>
