<p id="notice"><%= notice %></p>

<h1>repository</h1>

<div class="container-fluid">
  <% @images.each do |image| %>
    <%= link_to image do %>
      <%= image_tag image.image_file.variant(resize_to_fill: [200, 200]), class: "img-thumbnail", style: "padding: 0.1rem" %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'new image', new_image_path %>
